/* CSS Document */

@import url(reset.css);

body {
	font: 13px/14px Helvetica, Arial, sans-serif;
}
h1,h2 {
	font-size: 2.7em;
	font-weight: bold;
	line-height: 1.5em;
	margin-top: 0.7em;
}
h2 {
	font-size: 2em;
}
fieldset h2 {
	margin-top: 0;
}

#page-status {
	border-radius: 5px;
	font-size: 1.5em;
	margin: 0.5em 0;
	padding: 1em;
	text-align: center;
}
#page-status.ok {
	background: #3c3 none;
	color: #fff;
}
#page-status.error {
	background: #c33 none;
	color: #fff;
}
#page-status.busy {
	background: #ccc none;
	color: #fff;
}
#container {
	margin: 0 auto;
	width: 960px;
}

a.button {
	background: #33f none;
	border: 1px solid #00c;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0,0,0,0.4);
	color: #fff;
	display: inline-block;
	font-weight: bold;
	padding: 0.6em 0.8em;
	text-decoration: none;
}

#advanced {
	display: none;
}
fieldset {
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 7px;
}
fieldset + fieldset {
	margin-top: 1em;
}
fieldset p {
	float: left;
	line-height: 1.3em;
	margin: 2px 5px;
	width: 108px;
}
p.nofloat {
	clear: both;
	float: none;
	margin: 0.2em 0;	
	padding: 0.3em 0;
	width: auto;
}

input[type=text] {
	border: 1px solid #666;
	border-radius: 2px;
	padding: 1px;
	width: 100%;
}
input[type=text]:focus {
	background: #33f none;
	border-color: #ccf;
	color: #fff;
}

hr {
	border: 1px dotted #ccc;
}

sup {
	font-size: 0.6em;
	vertical-align: super;
}

/* Tabs */
#tablist li {
	float: left;
}
#tablist li a {
	background: #ccc none;
	background: linear-gradient(to bottom, #e6e6e6 0%, #ccc 100%);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: #444;
	display: block;
	font-size: 1.2em;
	margin: 0 0.5em;
	padding: 0.5em 2em;
	text-decoration: none;
	text-shadow: 1px 2px 0 rgba(255,255,255,0.4);
}
#tablist li a:hover {
	background: #33f none;
	background: linear-gradient(to bottom, #55f 0%, #33f 100%);
	color: #fff;
	text-shadow: none;
}

.tab.visible {
	display: block;
}
.tab.hidden {
	display: none;
}

/* Table styles */
table {
	width: 100%;
}
table thead {
	border-bottom: 3px solid #ffc;
	font-weight: bold;
}
table td, table th {
	margin: 0;
	padding: 0.5em;
}
/* 2D zebra striping */
table tr:nth-child(2n) {
	background: #e9e9e9 none;
}
table td:nth-child(2n) {
	background: #f9f9f9 none;
}
table tr:nth-child(2n) td:nth-child(2n) {
	background: #e3e3e3 none;
}
table tbody:nth-child(2n) {
	background: #ffc none;
	font-weight: bold;
}
table tbody:nth-child(2n) tr:nth-child(2n) {
	background: #e9e9a9 none;
}
table tbody:nth-child(2n) td:nth-child(2n) {
	background: #f9f9b9 none;
}
table tbody:nth-child(2n) tr:nth-child(2n) td:nth-child(2n) {
	background: #e3e3a3 none;
}
/* Row hover */
table tr:hover {
	background: #33d none;
	color: #fff;
}
table tbody:nth-child(2n) tr:hover {
	background: #33d none;
	color: #fff;
}
table tr:hover td:nth-child(2n) {
	background: #2a2ad7 none;
}
table tbody:nth-child(2n) tr:hover td:nth-child(2n) {
	background: #2a2ad7 none;
}
/* Sorting styles */
.sortable a:link,.sortable a:active,.sortable a:visited,.sortable a:hover {
	color: #000;
	text-decoration: none;
}
